
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    background:url(img/Adsız\ tasarım.png);
    background-size:100%  100% ;
    height: 100vh;
}
.main .navbar{

    width: 100%;
    height: 80px;
    background:rgba(122, 175, 237, 0.4);
}

.navbar .logo {
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px

}

.navbar .logo a{
    text-decoration: none;
    font-size: 30px; 
    font-family: sans-serif;
    color: #fff;
}

.navbar ul li{
    list-style: none;
    display: inline;
    margin-left: 20px;
    line-height: 80px;
    margin:0 ,8px;
}

.navbar ul{
    list-style: none;
    float: right;
    display: inline;
    margin-right: 20px;

}
.navbar ul li a{
text-decoration: none;
font-size:20px ;
padding: 6px 13px;
color: #fff;
font-family: Roboto;
}
 
.navbar ul li a.active,
.navbar ul li a:hover{
    background: #f77272;
}

.main .center{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
text-align: center;
font-family: Roboto;
color: aliceblue;
user-select: none;
}

.main .center h1{
    font-size: 60px ;
    font-weight: bold;
    margin: 10px 0px;

}

.center .button{
    margin: 20px 0px;
}
.center .button button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    color: #f77272;
    background:rgb(240, 128, 119) ;
    border: solid 1px red;
    border-radius: 25px;
}
.center .button button a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    outline: none;

    
}